/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
$adv-green: #6eba01;
$adv-bright-blue: #00AEEF;
// special colors
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);

$form-button-bkg:  black;
$form-button-font-color: white;
$form-button-hover-bkg:  grey;
$form-button-hover-color: black; 
/* ----------- end Colors ----------- */
