/* gravity forms styling */
.gform_wrapper {
	.gform_footer {

		display: flex;
		justify-content: flex-end; // put button on right
		input[type=submit] { //  Submit & save for later  look like buttons on the site.
			color: $form-button-font-color;
		    padding: 6px 20px;
		    border-width: 0px;
		    font-size: 20px!important;
		    text-align: center;
		    cursor: pointer;
			background-color: $form-button-bkg;
		}

	} // gform footer
} // gform wrapper